<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="css/schulte.css">
    <script src="js/vue.min.js"></script>
    <title>Шульте</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>

    <!--Отрисовывает игровое поле с клетками, каждая из которых содержит символы и может иметь различные стили в зависимости от своего класса. Классы задаются через массив cells, который содержит информацию о каждой клетке.
        Здесь используется директива v-for для перебора всех рядов и ячеек поля, а также директивы v-bind и v-on для привязки свойств и событий. Классы ячеек вычисляются динамически на основе локальных переменных, таких как hoveredCell и clickedCell, а также на основе состояний игры, таких как showHover, showClickAnimation и showTrace.
        Также здесь используются пользовательские директивы v-focus и v-cloak, которые обеспечивают фокусировку на игровом поле и скрытие его содержимого до его полной загрузки.
    -->
    <div id="app" class="wrapper w3-container w3-padding-0 w3-margin-0"
         tabindex="-1"
         @mousemove="appendMouseMove($event)"
         @keyup.esc="dialogShowed ? hideDialog() : execDialog('settings')"
         v-focus v-cloak>

        <div v-for="r in gridRange" class="row" :style="{height: rowHeight}">
            <div v-for="c in gridRange" class="cell" :style="{width: colWidth}"
                 @mouseover="hoveredCell = r*gridSize + c"
                 @mouseleave="hoveredCell = -1"
                 @click="setClickedCell(r*gridSize + c, $event)"
                 :class="{'normal-cell' : !showHover && !showClickAnimation,
                          'hovered-cell': showHover && (hoveredCell == r*gridSize + c),
                          'correct-cell': showClickAnimation && (clickedCell == r*gridSize + c) && clickedCell == correctIndex,
                          'wrong-cell'  : showClickAnimation && (clickedCell == r*gridSize + c) && clickedCell != correctIndex,
                          'traced-cell' : showTrace && tracedCell(r*gridSize + c)
                          }">
                <span :class="[cells[r*gridSize + c].cssClasses]"
                      :style="cells[r*gridSize + c].colorStyle"
                      style="cursor: default;">
                    {{ cells[r*gridSize + c].symbol }}
                </span>
            </div>
        </div>

        <!-- Отображает элементы интерфейса для отображения центральной точки, кнопки настроек и диалогового окна.

            <div class="center-dot" v-if="showCenterDot"></div> - это элемент, который отображает центральную точку на экране, если showCenterDot имеет значение true. Центральная точка часто используется при зрительных тестах. Если showCenterDot имеет значение false, то элемент не отображается на экране.
            <div id="settings-btn" @click="execDialog('settings')"></div> - это элемент, который представляет собой кнопку настроек. При клике на кнопку выполняется функция execDialog('settings'), которая переключает состояние диалогового окна.
            <div class="w3-modal" :class="[dialogShowed ? 'display-block' : 'display-none']"> - это элемент, который представляет собой диалоговое окно. Разное содержимое диалогового окна может отображаться в зависимости от конкретной реализации. Здесь используется класс w3-modal из библиотеки CSS-фреймворка и директива v-bind для привязки класса display-block или display-none в зависимости от состояния dialogShowed.
            <header class="w3-container w3-red w3-center"> - это элемент заголовка диалогового окна. Заголовок включает кнопку закрытия справа сверху и название диалогового окна в заголовке.
        -->

        <div class="center-dot" v-if="showCenterDot"></div>

        <div id="settings-btn" @click="execDialog('settings')"></div>

        <div class="w3-modal"
             :class="[dialogShowed ? 'display-block' : 'display-none']">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="min-width: 350px; max-width: 600px;">
                <header class="w3-container w3-red w3-center">
                    <span @click="hideDialog"
                          class="w3-button w3-display-topright w3-xxlarge w3-red w3-hover-red w3-hover-text-black"
                          style="padding: 0 10px 0 0;"
                          title="Resume Test">
                    &times;
                    </span>
                    <h2>Таблица Шульте</h2>
                </header>

                <!--
                    Отображает вкладки в диалоговом окне с настройками.

                    <div class="w3-bar w3-light-grey w3-border-bottom"> - это элемент для отображения вкладок. Он имеет класс "w3-bar", который задает основные стили, в том числе фон и границу нижней части.
                    <button class="tablink w3-bar-item w3-button" @click="changeDialogTab('settings')" :class="[settingsTabVisible ? 'w3-red1 w3-text-white w3-hover-red1' : 'w3-light-grey w3-hover-white']"> - это элемент кнопки вкладки, который представляет собой основной элемент вкладки. При клике на кнопку вызывается функция changeDialogTab('settings'), чтобы изменить текущую вкладку на настройки. Стилизация кнопки вкладки осуществляется с помощью классов CSS-фреймворка "w3-button" и "w3-bar-item", а также директивы "v-bind", которая добавляет класс "w3-red1 w3-text-white w3-hover-red1", если "settingsTabVisible" имеет значение "true", и класс "w3-light-grey w3-hover-white" в противном случае.
                    Вторая и третья кнопки работают так же, как и кнопка настройки, за исключением того, что они используют разные значения параметра функции changeDialogTab(), чтобы переключаться на другие вкладки. Единственное отличие в этих кнопках - название каждой вкладки ("Статистика" и "Размер сетки") на кнопках вместо "Настройки".

                 -->

                <div class="w3-bar w3-light-grey w3-border-bottom">
                    <button class="tablink w3-bar-item w3-button"
                            @click="changeDialogTab('settings')"
                            :class="[settingsTabVisible  ? 'w3-red1 w3-text-white w3-hover-red1' : 'w3-light-grey w3-hover-white']">
                        Настройки
                    </button>
                    <button class="tablink w3-bar-item w3-button"
                            @click="changeDialogTab('stats')"
                            :class="[statsTabVisible ? 'w3-red1 w3-text-white w3-hover-red1' : 'w3-light-grey w3-hover-white']">
                        Статистика
                    </button>
                    <button class="tablink w3-bar-item w3-button"
                            @click="changeDialogTab('mousemap')"
                            :class="[mousemapTabVisible ? 'w3-red1 w3-text-white w3-hover-red1' : 'w3-light-grey w3-hover-white']">
                        Движения
                    </button>
                </div>

                <!-- 
                    Раздел "Настройки" в диалоговом окнею.

                    <div class="w3-container w3-margin w3-padding-0" v-if="settingsTabVisible"> - это контейнер для раздела Настройки, который будет отображаться только при условии, что settingsTabVisible имеет значение "true", что означает, что пользователь выбрал вкладку Настройки.
                    <div class="w3-row"> - это контейнер строки, который содержит элементы для настройки сетки.
                    <div class="w3-col w3-half"> - это контейнер для выбора размера сетки. Он занимает половину строки.
                    <label for="grid_size" class="w3-text-black w3-block"> - это метка для элемента селектора, где пользователь может выбрать размер сетки.
                    <select id="grid_size" class="w3-select w3-border w3-padding-small" style="width: 70%" v-model="gridSize"> - это элемент селектора, где пользователь может выбрать размер сетки. Он имеет идентификатор "grid_size", стиль "w3-select" для стилизации, а также связывается с переменной "gridSize" при помощи директивы "v-model". В заголовке селектора представлены варианты размеров сетки для выбора.

                -->

                <div class="w3-container w3-margin w3-padding-0" v-if="settingsTabVisible">
                    <div class="w3-row">
                        <div class="w3-col w3-half">
                            <label for="grid_size" class="w3-text-black w3-block">
                                <b>Размер сетки</b>
                            </label>
                            <select id="grid_size"
                                    class="w3-select w3-border w3-padding-small"
                                    style="width: 70%"
                                    v-model="gridSize">
                                <option value="2">2 x 2</option>
                                <option value="3">3 x 3</option>
                                <option value="4">4 x 4</option>
                                <option value="5">5 x 5</option>
                                <option value="6">6 x 6</option>
                                <option value="7">7 x 7</option>
                                <option value="8">8 x 8</option>
                                <option value="9">9 x 9</option>
                                <option value="10">10 x 10</option>
                            </select>
                        </div>

                        <!-- 
                            Заебался писать это крч группы выбирать в меню.
                            Надо покурить срочно.
                            Обьявляю общий перекур.
                        -->

                        <div class="w3-col w3-half">
                            <label for="groups" class="w3-text-black w3-block">
                                <b>Группы</b>
                            </label>
                            <select id="groups"
                                    class="w3-select w3-border w3-padding-small"
                                    style="width: 70%"
                                    v-model="groupCount">
                                <option value="1">1 группа</option>
                                <option value="2">2 группы</option>
                                <option value="3">3 Группы</option>
                                <option value="4">4 группы</option>
                            </select>
                        </div>
                    </div>

                    <!-- 
                        Опять заебался.
                        Группы чекбоксов и блок с цветными номерами, которые появляются в зависимости от настроек чекбоксов.
                    -->


                    <div class="w3-row" >
                        <div class="w3-col w3-half">
                            <input class="w3-check" type="checkbox" v-model="inverseCount" :disabled="variousCounts" style="margin-top: 5px;">
                            <label class="w3-validate">Обратный отсчет </label>
                            <br>
                            <input class="w3-check" type="checkbox" v-model="divergentCount" :disabled="variousCounts" style="margin-top: 5px;">
                            <label class="w3-validate">Расходящийся подсчет </label>
                            <br>
                            
                        </div>
                        <div class="w3-col w3-half">
                            <div class="w3-container w3-padding-0" style="margin-top: 10px; width: 90%; float: left;">
                                <div class="color-num"
                                      v-if="groupCount == 1"
                                      v-html="groupRange(0)"></div>
                                <div class="color-num"
                                      :style="groupColorStyles[0]"
                                      v-if="groupCount > 1"
                                      v-html="groupRange(0)"></div>
                                <div class="color-num"
                                      :style="groupColorStyles[1]"
                                      v-if="groupCount > 1"
                                      v-html="groupRange(1)"></div>
                                <div class="color-num"
                                      :style="groupColorStyles[2]"
                                      v-if="groupCount > 2"
                                      v-html="groupRange(2)"></div>
                                <div class="color-num"
                                      :style="groupColorStyles[3]"
                                      v-if="groupCount == 4"
                                      v-html="groupRange(3)"></div>
                            </div>
                        </div>
                    </div>



                    <!-- 

                        Чекбокс "Режим таймера" и выпадающий список с выбором количества минут для таймера,
                        который становится видимым только при активации режима таймера.

                    -->


                    <hr style="margin: 10px 0"> <!-- стиль типо пон-->

                    <div class="w3-row" >
                        <div class="w3-col w3-half">
                            <input class="w3-check" type="checkbox" v-model="timerMode" style="margin-top: 5px;">
                            <label class="w3-validate">Режим таймера </label>
                        </div>
                        <div class="w3-col w3-quarter" v-if="timerMode">
                            <label for="minutes" class="w3-text">Минут</label>
                            <select id="minutes"
                                    class="w3-select w3-border w3-padding-small"
                                    style="width: 70%"
                                    v-model="timerMinutes">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="30">30</option>
                            </select>
                        </div>
                    </div>

                    <hr style="margin: 10px 0">

                    <!--  
                        Чет меня колпачит уже.Будет кратко.
                        Две группы чекбоксов, разделенных на две колонки: 
                        первая группа отвечает за отображение различных элементов при взаимодействии с игрой (наведение курсора, трассировка движения, результат щелчка, центральная точка),
                        а вторая группа отвечает за кастомизацию чисел, используемых в игре (перемешивание, номера поворотов, числа вращений, отображение 69 точек). Каждый чекбокс связан с переменной в модели Vue, 
                        которая отвечает за соответствующий параметр игры.
                     -->

                    <div class="w3-row w3-margin-0">
                        <div class="w3-container w3-col w3-half w3-padding-0" style="min-width: 200px;">
                        
                            <p>
                                <input class="w3-check" type="checkbox" v-model="showClickResult">
                                <label class="w3-validate">Показать результат щелчка</label> </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="showCenterDot">
                                <label class="w3-validate">Показать центральную точку</label> </p>
                        </div>
                        <div class="w3-container w3-col w3-third w3-padding-0" style="min-width: 200px;">
                            <p>
                                <input class="w3-check" type="checkbox" v-model="shuffleSymbols">
                                <label class="w3-validate">Случайное положение</label> </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="turnSymbols">
                                <label class="w3-validate">Поворот чисел</label> </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="spinSymbols">
                                <label class="w3-validate">Вращение чисел</label> </p>
                            <p>
                                <input class="w3-check" type="checkbox" v-model="show69Dot">
                                <label class="w3-validate">Показать точки 6 и 9</label> </p>
                        </div>
                    </div>
                </div>

                <!-- 

                    Блок HTML, который отображает статистику игры:
                    время игры, количество правильных и неправильных щелчков мышью по числам.
                    Блок также включает таблицу, отображающую последовательность групп, чисел и времени щелчков, совершенных игроком.
                    Если количество щелчков больше нуля, таблица будет отображаться, иначе она будет скрыта.
                    В каждой строке таблицы в зависимости от значения переменной err будет меняться цвет текста на красный.
                    Вся информация отображается на основе данных из модели Vue (stats).

                -->

                <div class="w3-container w3-margin" v-if="statsTabVisible">
                    <table class="w3-table-all w3-large">
                        <tr>
                            <td>Время</td>
                            <td>{{ stats.timeDiff() }}</td>
                        </tr>
                        <tr class="w3-pale-green">
                            <td>Привальных нажатий</td>
                            <td>{{ stats.correctClicks }}</td>
                        </tr>
                        <tr class="w3-pale-red">
                            <td>Не правильных нажатий</td>
                            <td>{{ stats.wrongClicks }}</td>
                        </tr>
                    </table>
                    <div class="w3-row w3-col"
                         style="margin-top: 5px; overflow-y:scroll; overflow-x:hidden; max-height:250px;"
                         v-if="stats.clicks.length > 0">
                        <table class="w3-table-all w3-hoverable w3-centered">
                            <thead>
                            <tr class="w3-light-grey">
                                <th>Группы</th>
                                <th>Числа</th>
                                <th>Время</th>
                            </tr>
                            </thead>
                            <tr v-for="stat in stats.clicks" :class="{'w3-text-red': stat.err}">
                                <td>{{stat.groupN + 1}}</td>
                                <td>{{stat.number}}</td>
                                <td>{{stat.time}}s</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!--

                    Содержит два блока HTML:
                    первый блок отображает канвас, представляющий собой карту кликов мыши.
                    Если переменная mousemapTabVisible равна true, то данный блок будет отображаться, иначе он будет скрыт.
                    Второй блок представляет собой подвал с кнопкой "Старт".
                    При клике на кнопку будет вызван метод startGame() из модели Vue, а также скрыто диалоговое окно с помощью метода hideDialog().

                 -->

                <div class="w3-container w3-margin-top w3-center" v-if="mousemapTabVisible">
                    <canvas class="mouse-map"
                            width="300" height="300"
                            ref="mousemap_canvas">
                    </canvas>
                </div>

                <footer class="w3-container w3-light-grey w3-center">
                    <button type="button"
                            class="w3-btn w3-red1 w3-text-white w3-xlarge"
                            style="width: 80%; margin: 10px;"
                            @click="hideDialog(); startGame()"
                            ref="btn">
                        Старт
                    </button>
                </footer>
            </div>
        </div>
    </div>

    <script src="js/schulte.js"></script>
</body>
</html>